@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@600&display=swap');

#mainWrapper {
    height: 100vh;
}
.title {
    text-align: center;
    font-size: 5vw;
    color: #34dbeb;
    font-family: 'Source Code Pro', monospace;
    border-bottom: 4px solid #34dbeb;
}

.small-title {
    text-align: center;
    font-size: 3vw;
    color: #34dbeb;
    font-family: 'Source Code Pro', monospace;
    margin-top: 5vw;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

#testHTML {
    padding: 1vw;
    text-align: left;
    font-family: 'Source Code Pro', monospace;
    font-size: 1.5vw;
    width: 90vw;
    max-height: 80vh;
    border: 1px solid rgb(111, 205, 255);
    overflow-y: auto;
}

#testCSS {
    padding: 1vw;
    text-align: left;
    font-family: 'Source Code Pro', monospace;
    font-size: 1.5vw;
    width: 90vw;
    max-height: 80vh;
    border: 1px solid rgb(111, 205, 255);
    overflow-y: auto;
}

body {
    margin: 0;
    background-color: black;
    overflow-y: auto;
}

#typeCode {
    width: 100%;
    margin-top: 10vh;
    font-size: 2vw;
    height: 70%;
    background-color: rgba(47, 47, 47, 1);
    color: white;
    
}

#closeEditor {
    display: inline-block;
    position: absolute;
    top: 10vh;
    color: white;
    width: 4vw;
    height: 4vw;
    font-size: 4vw;
    right: 1vw;
    font-weight: 700;
}

#closeEditor:hover {
    cursor: pointer;
    color: rgb(176, 176, 176);
}

#typeCodeContainer {
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 100vh;
    display: none;
}

button {
cursor: pointer;
padding: 1vw 3vw;
font-size: 2vw;
background-color: rgb(60, 60, 60);
color: #34dbeb;

}
button:hover {
    background-color: rgba(94, 94, 94, 0.349);
}
#submitCode {
    font-family: 'Source Code Pro', monospace;
    color: white;
}
.editCode {
    margin-top: 1vw;
    margin-bottom: 2vw;
    background-color: rgba(60, 60, 60, 0.107);
}