#testDiv {
    text-align: left;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2vw;
    width: 90vw;
}

body {
    margin: 0;
    background-color: #aaa;
}