@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@600&display=swap');

#mainWrapper {
    height: 100vh;
}
.title {
    text-align: center;
    font-size: 5vw;
    color: #34dbeb;
    font-family: 'Source Code Pro', monospace;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

#testDiv {
    padding: 1vw;
    margin-top: 5vw;
    text-align: left;
    font-family: 'Source Code Pro', monospace;
    font-size: 1.5vw;
    width: 90vw;
    max-height: 80vh;
    border: 1px solid rgb(111, 205, 255);
    overflow-y: scroll;
}

body {
    margin: 0;
    background-color: black;
    overflow: hidden;
}

#typeCode {
    width: 100%;
    margin-top: 10vh;
    font-size: 2vw;
    height: 60%;
    background-color: rgba(47, 47, 47, 1);
    color: white;
    
}

#typeCodeContainer {
    
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 100vh;
}

button {
cursor: pointer;
padding: 1vw 2vw;
font-size: large;
background-color: rgb(60, 60, 60);
color: rgb(111, 205, 255);
}
button:hover {
    background-color: rgb(94, 94, 94);
}
#editCode {
    margin-top: 1vw;
}